@{
    ViewBag.Title = "WoW Raid Calendar";
}

@section scripts {
    <script type="text/javascript">
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl,
            {
                plugins: ['resourceDayGrid'],
                titleFormat: { year: 'numeric', month: '2-digit' },
                defaultView: 'dayGridMonth',
                themeSystem: 'bootstrap',
                height: 700,
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                resources:
                    [
                        { id: 'm', title: 'Molten Core', eventColor: 'red' },
                        { id: 'b', title: 'Blackwing Lair', eventColor: 'black' },
                        { id: 'o', title: 'Onyxia', eventColor: 'purple' },
                        { id: 'z', title: 'Zul\'Gurub', eventColor: 'green' },
                        { id: 'n', title: 'Naxxramas', eventColor: 'blue' },
                        { id: 't', title: 'TempleOfAhn\'Qiraj', eventColor: 'grey' },
                        { id: 'r', title: 'RuinsOfAhn\'Qiraj', eventColor: 'orange' },
                        { id: 'dkmm', title: 'DarkmoonM', eventColor: '#9587DD' },
                        { id: 'dkme', title: 'DarkmoonE', eventColor: '#9587DD' }
                    ],
                events: '/home/getevents'
            });
        calendar.render();
    </script>
}

<div class="row">
    <div class="col-md-12">
        <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit="DAN-toogts5t83si"
             data-ad-width="320"
             data-ad-height="100"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    <div class="col-md-12">
        <div id="calendar" />
    </div>
    <div class="col-md-12">
        <ins class="kakao_ad_area" style="display:none;"
             data-ad-unit="DAN-s15mss4wdqw2"
             data-ad-width="320"
             data-ad-height="100"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
</div>
